<div class="navbar-class">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img class="logo" src="/assets/images/logo.jpg" width="100" height="76">
      <div class="col-8">
        <h1>Inheritance Calculator</h1>
        <h5 class="header-parag ms-5">Division of inhertiance</h5>
      </div>
    </div>
  </nav>
  <!-- <div class="info">
    <p>The given calculator helps you distribute your inheritance fairly, properly, and faster. The result of property
      will be given for each person respectively. For example, if you enter 2 for Number of son(s), you will get single
      number which is calculated for each son.</p>
  </div> -->
</div>