h1, h5{
    color: #c3db9b;
}
p{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    color: #c3db9b;
    font-weight: 400;
  }
  .logo{
    margin-left: 35px;
    border-radius: 15px;
  }
  .navbar-class{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .15);
  }
  /* .info{
    background-color: var(--bs-body-bg);
    width: 70%;
    left: 200px;
    top: 10px;
    position: relative;
    padding: 20px 0;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px
  } */