h1, h5{
    color: #4a4e07;
}
h1{
  font-size: 50px;
}
h5{
  font-size: 30px;
}
  .logo{
    margin-left: 35px;
    border-radius: 15px;
  }
  .navbar-class{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .2);
  }
  