h1, h5{
    color: #c3db9b;
}
p{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    color: #c3db9b;
    font-weight: 400;
  }
  .logo{
    margin-left: 35px;
    border-radius: 15px;
  }
  .navbar-class{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .15);
  }
  